.my-about-us {
  display: flex;
  justify-content: center;
  padding: 3rem;
  width: 100%;
}
.about-content {
  width: 50%;
  padding: 3rem;
}
.about-img {
  width: 40%;
}

.features-row {
  padding: 3rem;
  height: 40rem;
}
.features-row2 {
  display: none;
}

.newsletter {
  font-family: cursive;
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 8px;
  /* background: #47c5b4; */
  background: #b2fefa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0ed2f7,
    #b2fefa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4rem;
}
.why-choose-us {
  border: 2px solid beige;
  border-radius: 15px;
}

.headerShow {
  display: none;
}
.product-hide {
  display: none;
}
@media screen and (max-width: 900px) {
  .my-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }
  .about-content {
    width: 90%;
    padding: 0;
  }
  .about-img {
    width: 90%;
  }
  .about-img > img {
    width: "5rem";
    height: "5rem";
  }
  .features-row {
    display: none;
  }
  .features-row2 {
    display: block;
  }
  .product-hide {
    display: block;
  }
  .product-show {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .top-slider-head {
    margin-top: 3rem;
  }
  .newsletter {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    width: 85%;
  }
  .newsletterRight {
    margin: 0 auto;
  }

  .newsletterLeft > h1 {
    width: 60%;
    margin: 0 auto;
    font-size: 2.4rem;
    color: whitesmoke;
    font-weight: 600;
  }
  .newsletterLeft > h5 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 1.4rem;
  }
  .newsletterLeft > input {
    margin-bottom: 1.2rem;
  }

  .logo-link {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-link {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  }
  .headerShow {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    height: 3.5rem;
  }
  .nav-hide {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .logo-link {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-link {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  .headerShow {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    height: 3.5rem;
  }
  .nav-hide {
    display: none;
  }
}

.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.carousel-multi-item.v-2.product-carousel *,
.carousel-multi-item.v-2.product-carousel ::after,
.carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.fuchsia-rose-text {
  color: #db0075;
}
.aqua-sky-text {
  color: #5cc6c3;
}
.mimosa-text {
  color: #f0c05a;
}
.list-inline-item .fas,
.list-inline-item .far {
  font-size: 0.8rem;
}
.chili-pepper-text {
  color: #9b1b30;
}
.carousel-multi-item .controls-top .btn-floating {
  background: #f8cdcd;
}
.carousel-multi-item .carousel-indicators li {
  height: 0.75rem;
  width: 0.75rem;
  max-width: 0.75rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators .active {
  height: 1rem;
  width: 1rem;
  max-width: 1rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators {
  margin-bottom: -1rem;
}
