.headerLanding {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #eaecf3;
  border-bottom: 2px solid black;
}
.logo {
  /* float: left; */
  margin-left: 100px;
}
.about-us {
  height: 49rem;
}
.our-products {
  height: 40rem;
}

.headerLanding a {
  float: left;
  color: #fff;
  text-align: center;

  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 4px;
}

.headerLanding a:hover {
  background-color: #ddd;
  color: black;
}

.headerLanding a.active {
  background-color: dodgerblue;
  color: white;
}
.card-column {
  padding: 3rem;
}

.headerLanding-right {
  width: 50%;
  /* float: right;
  margin-right: 150px; */
  display: flex;
  justify-content: space-around;
}
.card-slider {
  height: 45rem;
}

@media screen and (max-width: 900px) {
  .our-products {
    height: 36rem;
  }
  .card-slider {
    height: 28rem;
  }
  .about-us {
    height: 70rem;
  }
  .card-style {
    margin-left: 8rem;
    width: 25rem;
  }
}
@media screen and (max-width: 600px) {
  .headerLanding {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .hamburger-button {
    margin-left: 250px;
  }
  .our-products {
    height: 32rem;
  }
  .card-style {
    margin-left: 3rem;
    width: 16rem;
  }
  .about-us {
    height: 60rem;
  }
  .card-slider {
    height: 15rem;
  }

  .logo {
    margin-left: -250px;
  }

  .headerLanding {
    display: none;
  }
  /* .headerLanding {
    display: flex;

    flex-direction: column;
    justify-content: center;
  } */
  .card-column {
    padding-bottom: 1rem;
  }

  .headerLanding a {
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 4px;
  }
  .headerLanding-right {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.navbar-nav {
  float: left;
  margin-left: 150px;
}

.footer {
  padding-top: 3rem;
  background-color: #0047ab;
}
.footer .nav-link {
  font-size: 0.875rem;
}
.footer .list-unstyled li a {
  font-size: 0.875rem;
  color: #ffffff;
  display: inline-block;

  padding: 0.125rem 0;
}

.footer-light p {
  color: #718096;
}

.footer-light .heading {
  color: #152c5b;
}

.footer-light .list-unstyled li a {
  color: #a0aec0;
}
.footer-light .list-unstyled li a:hover {
  text-decoration: underline;

  color: #4a5568;
}

.footer-light .copyright a {
  color: #4a5568;
}
.footer-light .copyright a:hover {
  color: #7ac81e;
}

.footer-dark p {
  color: rgba(255, 255, 255, 0.8);
}

.footer-dark .heading {
  color: white;
}

.footer-dark .list-unstyled li a {
  color: rgba(255, 255, 255, 0.8);
}
.footer-dark .list-unstyled li a:hover {
  color: rgba(255, 255, 255, 0.9);
}

.footer-primary .copyright a {
  color: rgba(255, 255, 255, 0.9);
}
.footer-primary .copyright a:hover {
  color: white;
}

.footer-dark {
  color: #9acd32;
  background-color: #273444;
}
.footer-dark .heading {
  color: #eaecf3;
}
.footer-dark .nav .nav-item .nav-link,
.footer-dark .list-unstyled li a,
.footer-dark .footer-link {
  color: #ffffff;
}
.footer-dark .nav .nav-item .nav-link:hover,
.footer-dark .list-unstyled li a:hover,
.footer-dark .footer-link:hover {
  color: #fff;
}
.footer-dark hr {
  border-color: rgba(216, 203, 187, 0.1);
}
.btn {
  background-color: #0047ab;
}

@media screen and (max-width:602px) {
  #about-link{
    display: inline !important;
    padding: 10px 0;
  }
}
@media screen and (max-width:360px) {
  .responsive-subscribe{
    font-size: 10vw !important;
  }
  .custome-size1{
    font-size: 8vw !important;

  }
  .custome-size2{
    font-size: 6vw !important;

  }
  .media-center{
    display: flex;
    justify-content: center;
  }
}