.hamburger_menu {
  display: none;
  position: relative;
  margin-left: 72vw;
}

@media (max-width: 992px) {
  .hamburger_menu {
    display: block;
  }
}

@media (max-width: 992px) {
  .side_menu {
    transform: translate(200px, 200px);
    display: block;
  }
}
